@media (max-width:768px) {
    .mainbox {
        justify-content: none;
    }

    .box-1,
    .box-2 {
        width: 350px;
    }

    .box-3 {
        margin: auto;
    }
}

@media (max-width: 576px) {
    .banner {
        background-color: linear-gradient(to left, red, yellow);
    }

    .mainbox {
        justify-content: center;
    }

    .mainbox div {
        margin-bottom: 20px;
    }
}

@media (max-width:320px) {
    .banner {
        background-color: yellow;
    }

    .mainbox .box-1 {
        background-color: green;
    }

    .mainbox .box-2 {
        border: 5px solid blue;
    }

    .mainbox .box-3 {
        outline: 5px solid green;
    }
}